language: python
cache: pip
python:
- '2.7'
install:
- pip install -r requirements.txt
- pip install coveralls
script:
- pytest --doctest-modules --doctest-report ndiff .
after_success:
- coveralls
deploy:
  provider: pypi
  user: aodj
  password:
    secure: sDOElGxcgWSkAFAEu3EAusZLhqUenOm7IcAeIas7xlof9jOKdbE5bO4oBsYkfbpryklpShUkOc+NXoqZ5Bxi2ZNruRGYaFCEif5wlUj2wEAgc9pCSL/QTb/IjoQDGym3l1yDUKm5pq6dvsXffxr/RrPu4/xrDMUM+FCmTDjs5UNoRhEULt8u5DigBo5UPl1tH4Hmp6TRzhlfaRw3Qld4iFZPpacp9lcI3WQmxKrL3grPxSq25pGkhOMVl05lT+MSt+i0gcbuOwhpyyAO8+kTU+EdCp9oAuVGkhf5ZFODdoc2NduTCXXv2xkzXJAs3yF8locfmzETC4Nd6EYvFpOvEhYfRRI2cnSaYzn69XY2UDi0RTGEa3jsDuqPFTbrpKRfiBRPElEAYheacLckiFYp82I94dENNNOy9yxupPGwn4qIKAS0taA4F6hDKVJ0F53ShPKliZRmmhxEnKhd04hiKv/Y+R+u9mwpB1iwxcDkEV0Hd3tRsrj2LCP1l/9kKgIlK5CvPUW8CvJwQJKHzICCfV8E/ybH9h5nBbfrHFWajzUj5NIdogZjyI4Da0ObKScNWCIt2YJ8kBPKISfxYIr3NIwb0VmK+bCDHXaalSr1wTj9cVV+JaMa375724qOc8yYdSrVsn0qSk4jH+UeGwj6cVouYZTKdNrvcBR4hRLEbME=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: multiplechoice/scrapy-sqs-exporter
